.flexbox {
	flex-direction: row;
	flex-wrap: wrap;
	display: flex;
	margin-top: auto;
	margin-bottom: auto;
}
.d-block {
	background-position: center;
	background-size: 100%;
}

h1 {
	border: 2px solid gold;
	border-radius: 3px;
	border-width: 50%;
}
#h1 {
    transition: all 0.8s ease-in-out;
    height: 70%;
    margin-bottom: 28%; 
}

#h1:hover {
	background-color: rgba(0,0,0,0.2);
	color: gold;
	border: 2px solid ;
	border-radius: 0px;
	border-width: 50%;
	box-shadow: 0px 0px 30px 15px rgba(255,223,0,0.6); 
}

#h1:before{
    content: 'Buzz Honey';
    font-size: 5em;
    animation-name: head;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@keyframes head {
    0% {font-size:100%; opacity:1; content:"Buzz Honey"}
    20% {font-size:100%; opacity:1; content:"Buzz Honey"}
   /* 20% {font-size:100%; opacity:0;}*/
    40% {font-size:100%; opacity:0;}
    80% {font-size:100%; opacity:1; content: "A Global Venture"}
  /*  80% {font-size:100%; opacity:0;}*/
    100% {font-size:100%; opacity:0;}
}

/*.item:hover h1 span{
  display: none;
  transition: all 0.0s ease-in-out;
}

.item:hover h1#h1:after{
  content: 'A Global Venture';
  color: rgba(255,255,255,0.8);
  text-shadow:
  -1px -1px 2px rgba(255,255,255,0.4),
  1px -1px 2px rgba(255,255,255,0.2),
  -1px 1px 2px rgba(255,255,255,0.2),
  1px 1px 2px rgba(255,255,255,0.8);
}*/

/*.logo {
	transition: all 0s ease-in;
}

.logo:hover {
	background-color: rgba(255,223,0,0.8)*/
	/*rgba(0,0,0,0.2);
	/*color: gold;*/
	border: 0px;
	border-radius: 50%;
	border width: 100px;
	box-shadow: 0px 0px 30px 15px rgba(255,223,0,0.6);
}

.carousel-content {
	/* z-index: 20;*/
  /*position: absolute;
  width: 50%;
  height: 50%;
  margin: auto;
  bottom: 10%;
  left: 35%;
  right: 25%;
  color: gold;
  opacity: 0.8;
  text-shadow: 0 1px 2px rgba(0,0,2,.6);
  font-family: 'Pacifico', cursive;
  color: (255,191,0);
  font-size: 5em;
  text-shadow:
  -1px -1px 0 #bf9b30,
  1px -1px 0 #bf9b30,
  -1px 1px 0 #bf9b30,
  1px 1px 0 #bf9b30;*/
  margin-top: auto;
}

.btn {
  font-weight: 700;
  border-radius: 300px;
  margin-bottom:10px;
  margin-top: 10px;
}

.btn {
  padding: 1rem 2rem; 
}

/*.btn-outline-warning {
  background-color: yellow;
  border-color: yellow;*/
}

.btn:hover {
  background-color: yellow;
  border-color: yellow;
  border-width: 5px;
  cursor: pointer;
}

@media only screen and (max-width: width: 768px) {
    .flexbox {
    	width: 90%;}
    }
}